<!-- ============================================ -->
<!--                  Full Menu                   -->
<!-- ============================================ -->

<div id="cs-menu-group-1038">
    <div class="cs-container">
        <div class="cs-content">
            <picture class="cs-picture">
                <div class="cs-icon">♦</div>
            </picture>
            <h2 class="cs-title">Our Complete Menu</h2>
            <div class="cs-button-group">
                <button class="cs-button cs-active" data-filter="one">
                    Snacks / Appetizers
                </button>
                <button class="cs-button" data-filter="two">
                    Warm Dishes
                </button>
                <button class="cs-button" data-filter="three">
                    Planka
                </button>
                <button class="cs-button" data-filter="four">
                    Desserts
                </button>
                <button class="cs-button" data-filter="five">
                    Chef's Tips
                </button>
            </div>
        </div>

        <!--Snacks / Appetizers-->
        <div id="cs-menu1-1038" class="cs-menu-group" data-category="one">
            <section class="cs-menu">
                <div class="cs-container">
                    <div class="cs-menu-list">
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Snack Basket</span>
                                    <span class="cs-price">110 kr</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Torpedo shrimp, chili cheese and hot potato wedges with dip
                                </p>
                            </div>
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Toast Skagen</span>
                                    <span class="cs-price">115 kr</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Söders shrimp salad with seaweed caviar served on grilled bread
                                </p>
                            </div>
                        </div>
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Crispy Shrimp</span>
                                    <span class="cs-price">115 kr</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Torpedo shrimp served with hot dip
                                </p>
                            </div>
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Goat Cheese with Cloudberries</span>
                                    <span class="cs-price">115 kr</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Gratinated goat cheese with cloudberry chutney
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!--Warm Dishes-->
        <div id="cs-menu2-1038" class="cs-menu-group" data-category="two">
            <section class="cs-menu">
                <div class="cs-container">
                    <div class="cs-menu-list">
                        <p class="cs-menu-subtitle">200 grams</p>
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Arctic Char</span>
                                    <span class="cs-price">325 kr</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Arctic char fillet with herb mayonnaise
                                </p>
                            </div>
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Beef Tenderloin</span>
                                    <span class="cs-price">345 kr</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Beef tenderloin with Söders pepper sauce
                                </p>
                            </div>
                        </div>
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Filet Mignon Black & White</span>
                                    <span class="cs-price">345 kr</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Beef tenderloin served with Söders bearnaise sauce & pepper sauce
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!--Söders Planka-->
        <div id="cs-menu3-1038" class="cs-menu-group" data-category="three">
            <section class="cs-menu">
                <div class="cs-container">
                    <div class="cs-menu-list">
                        <div class="cs-menu-row">
                            <div class="cs-menu-item cs-plank-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Vegetarian</span>
                                    <div class="cs-price-row">
                                        <span class="cs-price">Small 165</span>
                                        <span class="cs-price">Medium 230</span>
                                        <span class="cs-price">Large 275</span>
                                    </div>
                                </h3>
                            </div>
                        </div>
                        <div class="cs-menu-row">
                            <div class="cs-menu-item cs-plank-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Arctic Char</span>
                                    <div class="cs-price-row">
                                        <span class="cs-price">Small 175</span>
                                        <span class="cs-price">Medium 240</span>
                                        <span class="cs-price">Large 295</span>
                                    </div>
                                </h3>
                            </div>
                        </div>
                        <div class="cs-menu-row">
                            <div class="cs-menu-item cs-plank-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Beef Tenderloin</span>
                                    <div class="cs-price-row">
                                        <span class="cs-price">Small 195</span>
                                        <span class="cs-price">Medium 270</span>
                                        <span class="cs-price">Large 335</span>
                                    </div>
                                </h3>
                            </div>
                        </div>
                        <p class="cs-menu-description">
                            Served with gratinated duchess potatoes, vegetables, cheese, bearnaise & pepper sauce
                        </p>
                    </div>
                </div>
            </section>
        </div>

        <!--Desserts-->
        <div id="cs-menu4-1038" class="cs-menu-group" data-category="four">
            <section class="cs-menu">
                <div class="cs-container">
                    <div class="cs-menu-list">
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Ice Cream</span>
                                    <span class="cs-price">85 kr</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Vanilla ice cream with chocolate sauce or warm raspberries
                                </p>
                            </div>
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Weekly Dessert</span>
                                    <span class="cs-price"></span>
                                </h3>
                                <p class="cs-menu-p">
                                    Ask our staff
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!--Chef's Tips-->
        <div id="cs-menu5-1038" class="cs-menu-group" data-category="five">
            <section class="cs-menu">
                <div class="cs-container">
                    <div class="cs-menu-list">
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Toast Skagen</span>
                                    <span class="cs-price"></span>
                                </h3>
                                <p class="cs-menu-p">
                                    Söders shrimp salad with seaweed caviar served on grilled bread
                                </p>
                            </div>
                        </div>
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Beef Tenderloin</span>
                                    <span class="cs-price"></span>
                                </h3>
                                <p class="cs-menu-p">
                                    Beef tenderloin with Söders green pepper sauce
                                </p>
                            </div>
                        </div>
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Dessert</span>
                                    <span class="cs-price">495 kr</span>
                                </h3>
                                <p class="cs-menu-p">
                                    <strong>choose between</strong><br>
                                    - Vanilla ice cream with warm raspberries -<br>
                                    - Weekly dessert -
                                </p>
                            </div>
                        </div>
                        <div class="cs-allergy-note">
                            <p>Do you have any allergies? Please feel free to ask our staff about what the food contains.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>