---
title: "Söders Krog - Din kvarterskrog i Östersund"
description: "Din kvarterskrog i Östersund med god mat, mysig atmosfär och trevligt sällskap. Hos oss är alla välkomna, även vovvarna!"
permalink: '/'
eleventyNavigation:
    key: 'Main'
    order: '100'
---

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css">
{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}
{% include "components/hero.html" %}
{% include "components/about.html" %}
{% include "components/menu.html" %}
{% include "components/fullmenu.html" %}
{% include "components/experience.html" %}
{% include "components/contact.html" %}
{% endblock %}